<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board.dao.BoardDao">
	<select id="boardList" resultType="boardfile" parameterType="boardfile">
		SELECT *
		FROM boardfile
		WHERE 1=1
		<if test="subject!=null">
		AND subject LIKE '%'||#{subject}||'%'
		</if>
		<if test="writer!=null">
		AND writer LIKE '%'||#{writer}||'%'
		</if>
		ORDER BY regdte DESC
	</select>
	<insert id="insertBoard" parameterType="boardfile">
		insert into boardfile values(board_seq.nextval, 0, #{subject}, #{content}, #{writer},
						 0, sysdate, sysdate)
	</insert>
	
	<select id="getBoardDetail" resultType="boardfile" parameterType="int">
		select * from boardfile where no = #{no}
	</select>
	
	<update id="readCountup" parameterType="int">
		update boardfile
			set readcnt = readcnt+1
			where no = #{no}
	</update>
	
	<update id="updateBoard" parameterType="boardfile">
		UPDATE boardfile
			SET subject = #{subject},
				content = #{content},
				uptdte = sysdate
		WHERE NO = #{no}
	</update>
	<delete id="deleteBoard" parameterType="int">
		DELETE
		FROM boardfile
		WHERE NO = #{no}
	</delete>
	
	<insert id="insertFile" parameterType="boardfile">
		insert into boardfile values(board_seq01.currval,
		#{path}, #{fname}, sysdate, sysdate, '')
	</insert>
</mapper>


   